body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gilroy";
    src: url(/assets/Gilroy/Gilroy-Medium.otf);
}

* {
    font-family: Gilroy;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.call {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    font-family: inherit;
    font-size: 12px;
    position: absolute;
    right: 120px;
    z-index: 100;
    color: #159ee3;
    top: 30px;
}

.fa-phone-volume {
    font-size: 25px;
    transform: rotate(-35deg);
    margin-top: 8px;
    color: #159ee3;
}

#call-number {
    font-size: 25px;
    color: #159ee3;
    margin-block-end: 0;
    margin-block-start: 0;
    width: 50px;
    margin-top: 8px;
    margin-left: 8px;
    font-family: inherit;
    font-weight: bold;
}

.burger-button {
    position: absolute;
    right: 40px;
    z-index: 100;
    top: 30px;
    background-color: #159ee3;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 100%;
    cursor: pointer;
}

.fa-bars {
    color: white;
    font-size: 23px;
}

.fa-times {
    color: white;
    font-size: 23px;
}

.burger-menu {
    width: 650px;
    height: 100%;
    background-color: #0fa9f0;
    position: absolute;
    right: -650px;
    z-index: 95;
    display: flex;
    flex-wrap: wrap;
    padding-top: 130px;
    border-radius: 100%;
}

.b-menu-text {
    color: white;
    width: 250px;
    font-size: 22px;
    margin-left: 70px;
    margin-block-end: 0;
    margin-block-start: 0;
    height: 25px;
    cursor: pointer;
}

.b-menu-text:hover {
    transform: scale(1.1);
    transition: .5s;
}

.chat-click {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 100;
    background-color: #159ee3;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.chat-click:hover .fa-comment-dots {
    transform: rotate(360deg);
    transition: .5s;
}

.fa-comment-dots {
    color: white;
    font-size: 35px;
    margin-left: 3px;
    margin-top: 3px;
}

.connect {
    position: fixed;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 99;
    color: white;
    opacity: 0;
    right: 30px;
    bottom: 0;
}

.connect:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    transition: .1s;
}

.message {
    background-color: orange;
    font-size: 30px;
}

.whatsapp {
    background-color: #25d366;
    font-size: 35px;
}

.messenger {
    background-color: #3b5998;
    font-size: 35px;
}

.sa-logo {
    position: absolute;
    left: 0;
    width: 200px;
    padding-top: 30px;
    padding-left: 40px;
}

.circle {
    background-color: #34b4f00a;
    border-radius: 100%;
    position: absolute;
}

.blue {
    width: 650px;
    height: 650px;
    transform: scale(1.2);
    right: -1000px;
}

.blue-2 {
    top: 55px;
    width: 550px;
    height: 550px;
    transform: scale(1.2);
    background-color: #34b4f00e;
    right: -800px;
}

.blue-3 {
    background-color: #34b4f017;
    width: 500px;
    height: 500px;
    top: 90px;
    right: -600px;
}

.social {
    color: rgb(172, 171, 171);
    position: fixed;
    bottom: 20px;
    right: 50px;
}

.soc {
    cursor: pointer;
}

.soc:hover {
    color: #0fa9f0;
}

.left-windows {
    position: fixed;
    left: 40px;
    bottom: 80px;
}

.left-windows>div {
    width: 70px;
    height: 72px;
    border-radius: 10px;
    background-color: lightgray;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.left-windows>div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to right, #4eb9ee, #0fa9f0);
}

.left-windows>div:hover .shadow {
    background-color: #0fd6f069;
}

.left-windows>div:hover img {
    transform: scale(1.2);
    transition: .5s;
}

.left-windows>div>img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.shadow {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 10px;
    background-color: rgba(179, 178, 178, 0.384);
}

.left-windows>div:nth-child(3) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to right, #4eb9ee, #0fa9f0);
}

.left-windows>div:nth-child(3)>.shadow {
    background-color: #0fd6f069;
}

.branches {
    margin-top: 10%;
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 200px;
    position: relative;
}

.branch-menu {
    padding-top: 20px;
    width: 150px;
    height: 220px;
    background-color: #159ee3;
    position: absolute;
    right: 250px;
    top: 50px;
    border-radius: 10px;
    z-index: 100;
    display: none;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);

}

.active {
    display: block !important;
}

.branch-menu>h4 {
    font-size: 16px;
    color: white;
    font-weight: 100;
    padding-left: 20px;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 15px;
    cursor: default;
}

.branch-menu>h4:nth-child(1) {
    cursor: pointer;
}

.branch-menu>h4:hover {
    background-color: #157fe3;
}

.branches-text {
    width: 100%;
    text-align: center;
    color: #159ee3;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 50px;
    position: relative;
}

.fa-map-marker-alt {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.back {
    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: 999;
    font-size: 18px;
    cursor: pointer;
}

.nav {
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 5px;
}

.nav>h4 {
    width: 33%;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    color: gray;
    font-weight: 100;
    font-size: 18px;
    margin: 0;
    border-left: 1px solid lightgray;
    cursor: pointer;
}

.nav-active {
    background-color: #159ee3;
    color: white !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: scale(1.03);
}

.adress {
    width: 100%;
    height: 800px;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    margin-top: 50px;
}

.adress-left {
    padding-left: 5%;
    padding-top: 2%;
    width: 45%;
}

.branch-name {
    color: #159ee3;
    font-size: 22px;
}

.branch-adress {
    color: gray;
    font-size: 16px;
    width: 300px;
}

.adress-right {
    width: 50%;
}

iframe {
    -webkit-filter: grayscale(100%);
}

.services {
    width: 100%;
    height: 650px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 10px;
    display: none;
}

#tfl {
    display: none !important;
}

.services>div {
    width: 190px;
    height: 150px;
    background-color: #159ee3;
    border-radius: 10px;
    cursor: pointer;
}

.services>div:hover {
    background-image: linear-gradient(to right, #4eb9ee, #0fa9f0);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    transition: .1s;
}

.services>div>img {
    margin-left: 33%;
    margin-top: 30px;
}

.services>div>h5 {
    color: white;
    text-align: center;
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 20px;
}

.home-analyzes {
    overflow: hidden;
    width: 400px !important;
    height: 150px;
    margin-right: 202px;
    position: relative;
}

.home-analyzes>div {
    width: 400px;
    height: 150px;
    background-image: url(../assets/car.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-analyzes>div:hover {
    transform: scale(1.2);
    transition: .5s;
}

.car-text {
    color: white;
    font-size: 26px;
    position: absolute;
    bottom: 0px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top: 65%;
    padding-left: 40%;
    width: 60%;
    height: 35%;
}

.doctors {
    width: 100%;
    height: 700px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}

.doctors>div {
    width: 150px;
    height: 240px;
}

.doctors>div>img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.doctors>div>h4 {
    color: #157fe3;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
    margin-block-start: 15px;
    margin-block-end: 0;
}

.doctors>div>h5 {
    color: gray;
    text-align: center;
    font-size: 14px;
    margin-block-start: 7px;
    font-weight: 100;
}

@media only screen and (max-width : 1200px) {
    .left-windows {
        display: none;
    }
}

@media only screen and (max-width : 1000px) {
    .adress-left {
        width: 100%;
        height: 800px;
    }

    .adress-right {
        width: 100%;
        height: 800px;
    }

    .adress {
        display: block;
        height: 1600px;
    }
    .branches{
        margin-top: 25%;
    }
}