body {
    margin: 0;
    padding: 0;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

@font-face {
    font-family: "Gilroy";
    src: url(/assets/Gilroy/Gilroy-Medium.otf);
}

* {
    font-family: Gilroy;
}

.call {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    font-family: inherit;
    font-size: 12px;
    position: absolute;
    right: 120px;
    z-index: 100;
    color: #159ee3;
    top: 30px;
}

.fa-phone-volume {
    font-size: 25px;
    transform: rotate(-35deg);
    margin-top: 8px;
    color: #159ee3;
}

#call-number {
    font-size: 25px;
    color: #159ee3;
    margin-block-end: 0;
    margin-block-start: 0;
    width: 50px;
    margin-top: 8px;
    margin-left: 8px;
    font-family: inherit;
    font-weight: bold;
}

.burger-button {
    position: absolute;
    right: 40px;
    z-index: 100;
    top: 30px;
    background-color: #159ee3;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 100%;
    cursor: pointer;
}

.fa-bars {
    color: white;
    font-size: 23px;
}

.fa-times {
    color: white;
    font-size: 23px;
}

.burger-menu {
    width: 650px;
    height: 100%;
    background-color: #0fa9f0;
    position: fixed;
    right: -650px;
    z-index: 95;
    display: flex;
    flex-wrap: wrap;
    padding-top: 130px;
    border-radius: 100%;
}

.b-menu-text {
    color: white;
    width: 250px;
    font-size: 22px;
    margin-left: 70px;
    margin-block-end: 0;
    margin-block-start: 0;
    height: 25px;
    cursor: pointer;
}

.b-menu-text:hover {
    transform: scale(1.1);
    transition: .5s;
}

.chat-click {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 100;
    background-color: #159ee3;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.chat-click:hover .fa-comment-dots {
    transform: rotate(360deg);
    transition: .5s;
}

.fa-comment-dots {
    color: white;
    font-size: 35px;
    margin-left: 3px;
    margin-top: 3px;
}

.connect {
    position: fixed;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 99;
    color: white;
    opacity: 0;
    right: 30px;
    bottom: 0;
}

.connect:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
    transition: .1s;
}

.message {
    background-color: orange;
    font-size: 30px;
}

.whatsapp {
    background-color: #25d366;
    font-size: 35px;
}

.messenger {
    background-color: #3b5998;
    font-size: 35px;
}

.sa-logo {
    position: absolute;
    left: 0;
    width: 200px;
    padding-top: 30px;
    padding-left: 40px;
}

.circle {
    background-color: #34b4f00a;
    border-radius: 100%;
    position: absolute;
}

.blue {
    width: 650px;
    height: 650px;
    transform: scale(1.2);
    right: -1000px;
    z-index: 999;
}

.blue-2 {
    top: 55px;
    width: 550px;
    height: 550px;
    transform: scale(1.2);
    background-color: #34b4f00e;
    right: -800px;
}

.blue-3 {
    background-color: #34b4f017;
    width: 500px;
    height: 500px;
    top: 90px;
    right: -600px;
}

.social {
    color: rgb(172, 171, 171);
    position: fixed;
    bottom: 20px;
    right: 50px;
}

.soc {
    cursor: pointer;
}

.soc:hover {
    color: #0fa9f0;
}

.left-windows {
    position: fixed;
    left: 40px;
    bottom: 80px;
}

.left-windows>div {
    width: 70px;
    height: 72px;
    border-radius: 10px;
    background-color: lightgray;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.left-windows>div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to right, #4eb9ee, #0fa9f0);
}

.left-windows>div:hover .shadow {
    background-color: #0fd6f069;
}

.left-windows>div:hover img {
    transform: scale(1.2);
    transition: .5s;
}

.left-windows>div>img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
}

.shadow {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 10px;
    background-color: rgba(179, 178, 178, 0.384);
}

.left-windows>div:nth-child(4) {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to right, #4eb9ee, #0fa9f0);
}

.left-windows>div:nth-child(4)>.shadow {
    background-color: #0fd6f069;
}

.symptoms {
    width: 76%;
    margin-left: 12%;
    margin-top: 10%;
    position: relative;
}

.symptoms-name {
    font-weight: bold;
    color: #159ee3;
    font-size: 35px;
    text-align: center;
}

.symptoms-name>h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.symptoms-name>h5 {
    color: black;
    font-weight: 100;
    font-size: 20px;
    width: 550px;
    margin-left: 23%;
}
.ilness-button{
    position: absolute;
    top: 65px;
    right: 60px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, #4eb9ee, #0fa9f0);
    z-index: 9999;
}
.fa-search{
    color: white;
    margin-top: 21px;
    margin-left: 20px;
    font-size: 20px;
}
.back {
    position: absolute;
    left: 120px;
    top: 15px;
    color: #159ee3;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

.parts-of-body {
    position: relative;
}

.body {
    margin-left: 60px;
    cursor: pointer;
}

.part {
    position: absolute;
    left: 62px;
    cursor: pointer;
    display: none;
}

input {
    width: 80%;
    margin-left: 5%;
    margin-top: 50px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightgray;
}

::placeholder {
    color: lightgray;
}

.ilness-text {
    width: 82%;
    margin-left: 5%;
    font-size: 16px;
    line-height: 30px;
    color: grey;
    margin-top: 40px;
}

.ilness-text>u {
    cursor: pointer;
    margin-right: 20px;
}

.ilness-text>u:hover {
    color: black;
}

.kind-of-ilness {
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.cancel{
    margin-right: 20px;
    cursor: pointer;
}
.c-active{
    display: none !important;
}
.kind-of-ilness>div {
    margin-bottom: 20px;
}

.kind-of-ilness>div>img {
    width: 285px;
    height: 170px;
    cursor: pointer;
    border-radius: 10px;
}

.kind-of-ilness>div>h5 {
    font-size: 18px;
    margin-block-end: 0;
    margin-block-start: 15px;
    font-weight: 100;
    cursor: pointer;
}

.kind-of-ilness>div>h4 {
    width: 280px;
    color: gray;
    font-size: 15px;
    font-weight: 100;
}

.kind-of-ilness>div>h5:hover {
    text-decoration: underline;
}

.ilness {
    position: relative;
    display: none;
}

.button {
    position: absolute;
    top: 45px;
    right: 40px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(to right, #4eb9ee, #0fa9f0);
    z-index: 999;
}

.fa-male {
    margin-left: 25px;
    margin-top: 18px;
    color: white;
    font-size: 24px;
}

.headache {
    display: none;
}

.headache>img {
    width: 85%;
    height: 361px;
    border-radius: 15px;
    margin-left: 10%;
    margin-top: 50px;
}

.headache>h4 {
    width: 70%;
    margin-left: 15%;
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
    margin-top: 100px;
}

@media only screen and (max-width:1200px) {
    .left-windows {
        display: none;
    }

    .parts-of-body>img {
        width: 90%;
    }

    .part {
        opacity: 0;
    }
}

@media only screen and (max-width:900px) {
    .parts-of-body {
        display: none;
    }

    .symptoms-name {
        display: none;
    }

    .ilness {
        display: block;
    }

    .headache {
        margin-top: 150px;
    }

    .button {
        display: none;
    }

    input {
        margin-top: 150px;
    }

}